
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
  }

.TaskUpdateModal-Container{
    width: 100%;
    height: fit-content;
    padding: 20px;
   
    box-shadow: 1px 1px 20px  rgba(128, 128, 128, 0.234);
    border-radius: 5px;
    border: 0px transparent;
    margin-bottom: 15px;
}
  
.TaskUpdateModal-input-fields{
    display: flex;
    background-color: aliceblue;
    max-width: 80%;
    
}

.TaskUpdateModal-heading{
    font-size: x-large;
    font-weight: 600;
}

.TaskUpdateModal-field{
    margin-top: 10px;
    /* margin-left: 1px; */
}

.TaskUpdateModal-btn{
    display: flex;
    gap: 10px;
    margin-top: 10px;
    
    justify-content: end;
    margin-right: 100px;
}

.TaskUpdateModal-btn-close{
    border: 2px solid gray;
    color: rgb(50, 50, 50);
}

.TaskUpdateModal-btn-close:hover{
    border: 2px solid rgb(50, 50, 50);
    background-color: rgb(50, 50, 50);
    color: white;
}

.TaskUpdateModal-btn-update{
    border: 2px solid rgba(74, 123, 251, 1);
    margin-right: 3.5%;
    color: rgba(74, 123, 251, 1);
   
}

.TaskUpdateModal-btn-update:hover{
    border: 2px solid rgba(74, 123, 251, 1);
    background-color: rgba(74, 123, 251, 1);
    color: white;
}

.TaskUpdateModal-btn-delete{
    border: 2px solid rgba(249, 55, 55);
    color: rgba(249, 55, 55);
   
}

.TaskUpdateModal-btn-delete:hover{
    border: 2px solid rgba(249, 55, 55);
    background-color: rgba(249, 55, 55);
    color: white;
}